.App {
  background-color:rgb(206, 243, 238);
}
.header {
  display: flex;
  justify-content:center;
}

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin:auto;
  padding: 10px;
  
}
.btn1 {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 30px auto 20px;
  padding: 10px;
}
.btn2 {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 0 auto;
  padding: 10px;
  background-color: transparent;
  border-style: none;
  font-style: italic;
  cursor:pointer;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin:auto;
  padding: 30px;
  list-style-type: none;
}
.todo-note {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px;
  width: 70%;
  border-bottom: 1px solid;
  font-size: 20px;
}
.btn3 {
  font-weight: 700;
  background-color: transparent;
  border-style: none;
  opacity: 0.1;
  font-size: 20px;
  
  
}
.btn3:hover {
  opacity: 1;
}
p {
  
    margin: 0;
    padding:0 1em;
    width:100%;
    position: relative; 
    word-break: break-all; 
    
}